.navbar-middle {
  display: flex;
  align-items: center;
  flex: 1;

  @media screen and (min-width: 1023px) {
    max-width: 1200px;
    width: 96%;
    padding: 0;
    margin: 12px auto 0;
  }

  .navbar-camera {
    color: #797f85;
    margin-left: 10px;
    @media screen and (min-width: 360px) {
      font-size: 0.8em;
      margin: 10px;
    }
    @media screen and (min-width: 768px) {
      font-size: 0.8em;
    }
    @media screen and (min-width: 1023px) {
      display: none;
    }
  }

  .logo-blibli-navbar-middle {
    margin-left: 10px;
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  .navbar-input-search {
    width: 100%;
    position: relative;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;

    .navbar-search {
      position: absolute;
      right: -12px;
      background-color: #0072ff;
      color: white;
      border-radius: 50%;
      padding: 5px;
      top: 3px;
    }

    .navbar-input {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      border: 1px solid rgba(128, 128, 128, 0.523);
      &:focus {
        outline: none;
      }
    }
    .navbar-bottom-link {
      .navbar-bottom-link-list {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 10px;
        .navbar-bottom-link-item {
          list-style: none;
        }
        .navbar-bottom-link-item a {
          color: #19222ab3;
          text-decoration: none;
          font-size: 13px;
          font-weight: 500;
          border-right: 1px solid rgba(128, 128, 128, 0.523);
          padding-right: 10px;
          padding-left: 10px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      @media screen and (max-width: 1023px) {
        display: none;
      }
    }
  }
}
