.box {
  .container & {
    position: relative;
    background-color: white;
  }
  left: 0;
  top: 100%;
  z-index: 2;
  position: absolute;
  height: 180px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.523);
  p {
    font-weight: 500;
    color: #19222a;
    font-size: 16px;
  }
}
