$text-color: gray;

.navbar-top-container {
  color: $text-color;
  @media screen and (max-width: 1023px) {
    display: none;
  }

  .navbar-top {
    margin: 0 auto;
    width: 96%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 22px;

    .navbar-top-left {
      display: flex;
      align-items: center;

      .hover-container {
        position: relative;

        .hover-text {
          cursor: pointer;
          padding: 0 8px;
        }

        .hover-content {
          display: none;
          position: absolute;
          top: 100%;
          left: -14px;
          padding: 2px;
          border-radius: 5px;
          z-index: 10;
        }

        &:hover .hover-content {
          display: block;
        }
      }

      span {
        font-size: 14px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: rgba(0, 0, 255, 0.539);
          background-color: rgba(128, 128, 128, 0.167);
          border-radius: 5px;
        }
      }
    }

    .navbar-top-right a {
      padding: 0 8px;
      font-size: 14px;
      text-decoration: none;
      color: $text-color;

      &:hover {
        text-decoration: underline;
        color: rgba(0, 0, 255, 0.539);
        background-color: rgba(128, 128, 128, 0.167);
        border-radius: 5px;
      }
    }
  }
}
